# vscode settings folder
.vscode

# log file
*.log

# compiled things
*obj/

# all program name
megaphone
contact_app
brainz
more_brainz
ref
humanity
sed_for_looser
harl
harlFilter
fixed
clap_trap
scav_trap
frag_trap
animol
bureaucrat
form
aform
*_shruberry
intern
scalar
